<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>
<body>
    <h1>edit  A Product</h1>
    <form action="/products/<%=product._id%>?_method=PUT" method="POST">
        <p>
            <label for="name">Name</label>
            <input type="text" name="name" id="name"  value="<%=product.name%>">
        </p>
        <p>
            <label for="price">Price</label>
            <input type="text" name="price" id="price" placeholder="price" value="<%=product.price%>">
        </p>
        <p>
            <label for="category">Category</label>
            <select name="category" id="category">
                <option value="fruit" >Fruit</option>
                <option value="vegetable">Vegetable</option>
                <option value="dairy" >Dairy</option>
                <option value="meat" selected>Meat</option>
        </p>
        <br>
        <input type="submit" value="submit">
    </form>
    <a href="/products"> cancel</a>
</body>
</html>

<!-- 
<option value="fruit" <%=product.category === 'fruit'? selected ? ''  %>>Fruit</option>
                <option value="vegetable" <%=product.category === 'vegetable'? selected ? ''  %>>Vegetable</option>
                <option value="dairy" <%=product.category === 'dairy'? selected ? ''  %> >Dairy</option>
                <option value="meat" <%=product.category === 'meat'? selected ? ''  %>>Meat</option> -->