<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>
<body>
    <h1>edit  A Product</h1>
    <form action="/products/<%=product._id%>?_method=PUT" method="POST">
        <p>
            <label for="name">Name</label>
            <input type="text" name="name" id="name"  value="<%=product.name%>">
        </p>
        <p>
            <label for="price">Price</label>
            <input type="text" name="price" id="price" placeholder="price" value="<%=product.price%>">
        </p>
        <p>
            <label for="category">Category</label>
            <select name="category" id="category">
                <% wolfgang.categories.forEach(element => { %>
                     <option value="<%=element%>" <%=element === product.category && 'selected'  %>><%=element%></option>
                     <%  }); %>
        </p>
        <br>
        <input type="submit" value="submit">
    </form>
    <a href="/products"> cancel</a>
</body>
</html>