<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product that show</title>
  </head>
  <body>
    <h1><%= product.name %></h1>

    <ul>
      <li>
        <p>price: <%= product.price %> </p>
      </li>
      <li>
        <p>Farm: <a href="/farms/<%=product.farm?._id%> "> <%= product.farm?.name ?? 'N/A' %>  </a> </p>
      </li>
      <li>
        <p">category:  <a href="/products?category=<%= product.category %> "> <%= product.category %> </a> </p>
      
      </li>
    </ul>
    <a href="/products">Back to all products</a> <br />
    <a href="/products/<%= product._id %>/edit">Edit</a><br />
    <a href="/products/<%= product._id %>/delete"> Delete Product</a><br />
   
  </body>
</html>
