<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product that show</title>
  </head>
  <body>
    <h1><%= product.name %></h1>

    <ul>
      <li>
        <a href="/products/<%= product.price %>">price: $<%= product.price %> </a>
      </li>
      <li>
        <a href="/products/<%= product.category %>">category: <%= product.category %> </a>
      </li>
    </ul>
    <a href="/products">Back to all products</a>
    <a href="/products/<%= product._id %>/edit">Edit</a>
    <a href="/products/<%= product._id %>/delete">wolf's Delete</a>
    <form action="/products/<%= product._id %>?_method=DELETE" method="POST">
      <input type="submit" value="Delete" />
    </form>
  </body>
</html>
